@model Account

	<fieldset>
		<legend>
			Account details
		</legend>
       <div class="display-label"> 
            @Html.LabelFor(model => model.Name) 
        </div> 
        <div class="display-field"> 
            @Html.DisplayFor(model => model.Name) 
        </div> 
       <div class="display-label"> 
            @Html.LabelFor(model => model.Type) 
        </div> 
		<div class="display-field"> 
			@Html.DisplayFor(model => model.Type) 
		</div>
	</fieldset>