<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net46" />
  <package id="AutoFixture" version="3.37.3" targetFramework="net46" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net452" />
  <package id="Fixie" version="1.0.0.39" targetFramework="net46" />
  <package id="NUnit" version="3.0.1" targetFramework="net46" />
  <package id="Shouldly" version="2.6.0" targetFramework="net452" />
</packages>